<section>
  <h2>Upload New Meme</h2>

  <form class="new-post-form">
    <div>
      <label for="post-url">Enter meme link here!</label>
      <input id="post-url" name="post-url" />
    </div>
        <div>
      <label for="share-to">Share with</label>
      <input type="text" id="user-handle" name="user-handle" />
    </div>
    <button type="submit" class="btn btn-secondary">Share</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Memes</h2>
  <ul>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <button type="button" data-id="{{post.id}}" class="delete-post-btn">Delete post</button>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>
<script src="/javascript/delete-post.js"></script>
